*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Bitter', serif; ;
    
}
:root{
--azure-web: #ecf8f8ff;
--isabelline: #eee4e1ff;
--almond: #e7d8c9ff;
--pale-dogwood: #e6beaeff;
--lion: #b2967dff;
  
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');




header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(../Images/bikeShop.jpg);
    background-size: cover;
    background-position: center;
    min-height:  28vh;
    position: sticky;
    width: 100%;

}
header img{
    width: 200px;
    height: 160px;
    object-fit: cover;
    padding-top: .2rem;
    mix-blend-mode: darken;
    padding: 8px;
}
nav>a{
    color: var(--isabelline);
    font-size: 32px;
    font-weight: bolder;
    padding: .4rem;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 2px
}
nav{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
a:hover{

    cursor: pointer;
    text-decoration: underline;
}   


#hero{
    padding-top: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 80vh;
    background-color: var(--isabelline);
}
.hero-info {
    width: 700px;
    height: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px
    ;
}

.hero-info h1{
    font-size: 60px;
    letter-spacing: 2px;
}
.hero-info p{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bolder;
   
}

.hero-info-button{
    display: flex;
    justify-content:left;
    gap: 20px;
}

.hero-info-button a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background: #006effe9;
    padding: 10px;
    width: 150px;
    border-radius: 30%;
    text-align: center;
}
.hero-info-button a:hover{
   color: var(--azure-web);
}

.hero-image{
    width: 500px;
    height: 85%;
   
}

.hero-image img{
    width: 100%;
    padding: 10px;
    border-radius: 12%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px 5px black;
}
#informative-text{
    padding-top: 20px;
    min-height: 35vh;
    background-color: var(--lion);
}

#informative-text>h4{
    text-align: center;
    padding: 50px;
    font-size: 35px;
    letter-spacing: 2px;
    
}
   
    



   
    
    
  




    
   
    
  






  




