*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'Bitter', serif; ;
}
:root{
    --timberwolf: #dad7cdff;
    --sage: #a3b18aff;
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;

}  

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
     background-image:url(../Images/bikeShop.jpg);
    background-size: cover;
    background-position: center;
    min-height:  30vh;
    width: 100%;
} 
header img{
    width: 200px;
    height: 160px;
    object-fit: cover;
    /* padding-top: .2rem; */
    /*mix-blend-mode: darken;*/
    /* padding: 8px; */
    border-radius: 10%;
    border: solid black 2px;   
 }     
 
nav>a{
    color: white;
    font-size: 38px;
    font-weight: bolder;
    padding: .4rem;
    text-decoration: none;
    letter-spacing: 3px
}   

nav{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}   

a:hover{

    cursor: pointer;
    text-decoration: underline;
}      


#hero{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 70vh;
    background-color: var(--timberwolf);
    width: 100%;
  
}      
    
  

.hero-info {
    width: 700px;
    flex-direction: column;
    justify-content: space-around;
}

.hero-info h1{
    font-size: 60px;
    letter-spacing: 2px;
    color:  rgba(0, 0, 0, 0.658);
}

.hero-info p{
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bolder;
    color:  rgba(0, 0, 0, 0.658); ;
   
}

.hero-info-button{
    display: flex;
    justify-content:left;
    gap: 20px;
    padding-top: 20px;
}
.hero-info-button a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background: linear-gradient(#9fccfa,#0974f1);
    padding: 10px;
    width: 150px;
    border-radius: 8%;
    text-align: center;
    letter-spacing: 1px;
}    

 .hero-info-button a:hover{
    background: linear-gradient(#0974f1,#9fccfa );
}   

.hero-image{
    width: 500px;
    height: 85%;
   
}   
   

 
.hero-image img{
    width: 100%;
    padding: 2px;
    border-radius: 12%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px 5px black;

}
#informative-text{
    padding-top: 20px;
    min-height: 35vh;
    background-color: var(--sage);
}


#informative-text>h4{
    text-align: center;
    padding: 30px;
    font-size: 35px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.778) ;
    
}

#benefits{
    
    min-height: 95vh;
    background-color: var(--fern-green);
    padding-top: 1rem;
}

#benefits h2{
    text-align: center;
    font-size: 50px;
    padding-top: 1rem;
    color:  rgba(0, 0, 0, 0.778);;
}
#benefits .advantages-text{
    font-size: 28px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.778);
    letter-spacing: 1px;
}


.card-container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
     padding-top: 1rem; 
    
}
   
.card-container> .card{
   width: 350px;
   height: 350px;
   border: solid rgba(244, 243, 243, 0.579) 2px;
   border-radius: 5%;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.658);
    color: rgba(255, 255, 255, 0.726);
}
.card:hover{
    border: solid rgba(244, 243, 243, 0.579) 3px;
}
.card p{
    letter-spacing: .5px;
}
.card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 12px;
    border-radius: 8%;
    
}
    





#contact{
    min-height: 50vh;
    background-color: var(--sage);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#contact h3{
    font-size: 45px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.778);
}
   
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-us-info{
    display: flex;
    flex-direction: column;
    gap: 20px
    ;
}
.info-data{
    display: flex;
    flex-direction: row;
    column-gap: 20px ;
}
.info-data i{
    font-size: 25px;
}
.info-data p{
    font-size: 22px;
    letter-spacing: 1.5px;
}
   

.social-media{
    display: flex;
    justify-content: space-around;
    
}
.social-media a i{
    font-size: 30px;
    
}

iframe{
    width: 350px;
    height: 310px;
    padding: 20px;
    
 }


footer{
    background-color: var(--fern-green);
    min-height: 20vh;
    width: 100%;
   
}
footer>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
   
}
footer div img{
    width: 200px;
    height: 160px;
    object-fit: cover;
   
    border-radius: 10%;
    border: solid black 2px;
}
    
    







  
   







 
    
    
    


 
    






    
 



  
    



   
    
    
  




    
   
    
  






  




